/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color:whitesmoke;
}
/*FontType*/
*{
font-family: 'Montserrat', sans-serif;;
}
/* General */
header{
    padding-top: 50px;
    height: 140px;
    background-size: 30%;
    background-color: white;
    background-size: 30%;
    padding: 10px;
}
#Logo{
    width: 100px;
    margin-left: 20px;
    margin-top: 5px;
}
.LogoText{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 90px;
    padding-left: 10px;
    font-size: 70px;
    font-weight: bold;
    text-align: left;
    background-color: white;
}

.container{
    background-color: aqua;
    height: 600px;
    width: 70%;
    margin: 0 auto;
}
.margin-top-50{
    margin-top: 50px;
}